p i {
  color: green;
  margin-right: 2%;
  font-size: 2rem;
  cursor: pointer;
}

.profile {
  text-align: right;
}

.home_title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
}

.userProfilePicture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 60px;
  margin-top: 10px;
}
