i {
  color: green;
}

span {
  margin-right: 5px;
}

.preview_background {
  display: flex;
  background-color: #F0F0F0;
  border-radius: 15px;
  text-align: center;
  margin: 3%;
}

.user_image {
  margin-top: 0;
}

.title {
  display: inline;
  margin-left: 10px;
}

.divide {
  width: 40%;
  margin: 10px 0 5px;
}

.like_info, .comment_info {
  display: inline;
}

.comment_info {
  margin-left: 20px;
}

.color_flex_item {
  background-color: green;
  border-radius: 15px 0 0 15px;
  flex-basis: 2%;
  padding-top: 1%;
}

.content_flex_item {
  flex-basis: 88%;
  text-align: left;
  padding: 1%
}

.expand_flex_item {
  flex-basis: 10%;
  align-self: center;
}
